/*Contact sectiom*/
.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center; 

}
#contact{
    
    font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100%;
  height: 550px;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;    
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

#contact .form-line{
  border-right: 1px solid #B29999;
}

#contact .form-group{
  margin-top: 10px;
}
#contact label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
#contact .form-control{
  font-size: 1.3em;
  color: #080808;
}
#contact textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

#contact .submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}


.sign-out {
    margin-top: 8px;
}



#about-us{display:block; width:100%; line-height:1.6em;}
#about-us h2{margin-bottom:30px; padding-bottom:20px; font-size:40px; text-align:center; text-transform:uppercase; border-bottom:1px solid #CCCCCC;} /* DEMO USE ONLY - CAN BE DELETED */
#about-us .img-responsive {
    width: 100%;
}
#about-us #about-intro{margin-bottom:50px;}
#about-us #about-intro p{margin:20px 0 0 0; padding:0;}
#about-us #about-intro p:first-child{margin-top:0;}

#about-us #team{margin-bottom:0;}
#about-us #team ul{margin:0; padding:0; list-style:none;}
#about-us #team ul li{margin-bottom:30px;}
#about-us #team ul li figure{position:relative; text-align:center;}
#about-us #team ul li figure img{padding:9px; border:1px solid #CCCCCC;}
#about-us #team ul li figure figcaption{display:none; position:absolute; top:10px; left:10px; width:280px; height:200px; overflow:hidden; color:#FFFFFF; background-color:#000000; background:hsla(0, 0%, 0%, 0.8);}
#about-us #team ul li:hover figure figcaption{display:block;}
#about-us #team ul li figure figcaption p{margin:15px 15px 0 15px; padding:0;}
#about-us #team ul li figure figcaption p:first-child{margin-top:35px;}
#about-us #team ul li figure figcaption .team_name{font-weight:bold;}
#about-us #team ul li figure figcaption .team_title{margin:0; font-size:11px; line-height:normal;}
#about-us #team ul li figure figcaption .team_description{text-align:left;}

.popular-posts {
    margin-top: 30px;
}

.popular-posts .blog {
    margin-bottom: 20px;
}

.no_padding {
    padding: 0 !important;
}


.single {
padding: 30px 15px;
margin-top: 40px;
background: #fcfcfc;
border: 1px solid #f0f0f0; }
.single h3.side-title {
margin: 0;
margin-bottom: 10px;
padding: 0;
font-size: 20px;
color: #333; }
.single h3.side-title:after {
content: '';
width: 60px;
height: 1px;
background: #ff173c;
display: block;
margin-top: 6px; }

.single ul {
margin-bottom: 0; }
.single li a {
color: #666;
font-size: 14px;
text-transform: uppercase;
border-bottom: 1px solid #f0f0f0;
line-height: 40px;
display: block;
text-decoration: none; }
.single li a:hover {
color: #ff173c; }
.single li:last-child a {
border-bottom: 0; }

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1); 
}

.form-signin-heading,
.checkbox,
.form-control {
	  margin-bottom: 20px;
}

.checkbox {
  margin-left: 20px;
}

.main-login{
   background-color: #fff;
   border: 1px solid rgba(0,0,0,0.1);
}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

.notfound h1 {
    margin: 0 10px;
    font-size: 50px;
    text-align: center;
}

.notfound h1 span {
    color: #bbb;
}

.notfound h3 {
    margin: 1.5em 0 0.5em;
}

.notfound p {
    margin: 1em 0;
}

.notfound ul {
    padding: 0 0 0 40px;
    margin: 1em 0;
}

.container.notfound {
    max-width: 420px;
    _width: 420px;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,0.1);
    /* box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff; */
    background: #fcfcfc;
    padding: 30px 50px 50px;
}

ul {
    list-style-position: inside;
}

.panel-footer span {
    margin-left: 20px;
}

.panel-footer span:first-child {
    margin-left: 0;
}