extends ../index.pug

block content
	if errors  
		ul.alert.alert-danger
			for error in errors
				li!= error.msg || error
  

	.container.add-post
		.col-md-7.col-xs-offset-2
			.form-area
				form(method='POST', action='/savepost')
					br(style="clear:both")
					h3(style="margin-bottom: 25px; text-align: center;") Add Post Form
					.form-group
						label Post Title
						input#title.form-control(type="text", name="title", placeholder="Post Title")
					.form-group
						label Post Content
						textarea#editor1(name='content', rows='10', cols='80')
					.form-group
						label Post Image
						input#Image.form-control(type="file", name="image")
					.form-group
						label Status
						input#Status(type="checkbox", name="status")
					.form-group
						label Tags
						ul#myTags(name='tags')
						//- input#Status(type="checkbox", name="status")
					button#submit.btn.btn-primary.pull-right(type="button", name="submit") Submit Form
