extends ../index.pug 

block content

	.container.add-post
		.col-md-7.col-xs-offset-2
			.form-area
				form(method='POST', action='/add-post', enctype='multipart/form-data')
					br(style="clear:both")
					h3(style="margin-bottom: 25px; text-align: center;") Add Post Form
					.form-group
						label Post Title
						input#title.form-control(type="text", name="title", placeholder="Post Title")
					.form-group
						label Post Content
						textarea#editor1(name='content', rows='10', cols='80')
					.form-group
						label Post Image
						input.form-control(type="file", name='postImage')
					.form-group
						label Status
						input#Status(type="checkbox", name="status", value="false")
					.form-group
						label Tags
						ul#myTags(name='tags')
					.form-group
						label Category
						select.form-control(name='category')
							if categories
								for category in categories
									option(value!=category.name)!= category.name

					button#submit.btn.btn-primary.pull-right(type="submit") Submit Form
