extends ../index.pug

block content

	.col-xs-9
		a.btn.btn-success.add-blog-button(href='/add-post') Add New Post
		if payload.posts
			for post in payload.posts
				.panel.panel-default
					.panel-heading 
						h4!= post.title
						span By Some one 
						span!= post.createdAt + ' '
						a(href='') 8 comments
					.panel-body.row
						.col-xs-4
							img.img-responsive(src!=post.image)
						.col-xs-8
							if post.content.length > 350
								p!= post.content.substr(1, 350) + '...'
									a(href='/blog-detail/') Continue Reading
							else 
								p!= post.content
									a(href='/post-detail/'+post.id) - Continue Reading

		if !payload.posts
			p There are no posts


	.col-xs-3
		.searchbox
			h4 Search Blog
			#imaginary_container
				.input-group.stylish-input-group
					input.form-control(type='text', placeholder='Search')
					span.input-group-addon
						button(type='submit')
							i.fa.fa-search(aria-hidden='true')

		.categories
			.single.category
				h3.side-title Blog Categories
				if payload.categories
					if payload.categories.length > 0
						ul.list-unstyled
							for category in payload.categories
								li
									a(href='javascript:void(0)', title='')!= category.name
										span.pull-right 13

					if payload.categories.length == 0
						p No categories

		.popular-posts
			h4 Popular Posts
			.blog.clearfix
				.col-xs-4.no_padding
					img.img-responsive(src='/public/img/im-502226434.jpg')
				.col-xs-8
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit.
			.blog.clearfix
				.col-xs-4.no_padding
					img.img-responsive(src='/public/img/im-502226434.jpg')
				.col-xs-8
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit.
