extends ../index.pug

block content

	.panel.panel-default
		.panel-heading Panel Heading
		.panel-body Panel Content
		.panel-footer
			span.label.label-default Welcome
			span.label.label-default Updates
			span.label.label-default July
