extends ../index.pug

block content


	.col-xs-9
		a.btn.btn-success.add-blog-button(href='/add-post') Add New Post
		.panel.panel-default
			.panel-heading 
				h4 Lorem ipsum dolor sit amet consectetur adipisicing elit.
				span By Some one 
				span - 2 hours ago 
				a(href='') 8 comments
			.panel-body.row
				.col-xs-4
					img.img-responsive(src='/public/img/im-502226434.jpg')
				.col-xs-8
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste nesciunt soluta aliquid aliquam laborum consectetur est quae, animi sit velit! Sequi, facere tenetur perspiciatis nesciunt nulla inventore libero numquam? Cum! 
						a(href='/blog-detail') Continue Reading

		.panel.panel-default
			.panel-heading 
				h4 Lorem ipsum dolor sit amet consectetur adipisicing elit.
				span By Some one 
				span - 2 hours ago 
				a(href='') 8 comments
			.panel-body.row
				.col-xs-4
					img.img-responsive(src='/public/img/maxresdefault.jpg')
				.col-xs-8
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste nesciunt soluta aliquid aliquam laborum consectetur est quae, animi sit velit! Sequi, facere tenetur perspiciatis nesciunt nulla inventore libero numquam? Cum! 
						a(href='/blog-detail') Continue Reading


	.col-xs-3
		.searchbox
			h4 Search Blog
			#imaginary_container
				.input-group.stylish-input-group
					input.form-control(type='text', placeholder='Search')
					span.input-group-addon
						button(type='submit')
							i.fa.fa-search(aria-hidden='true')

		.categories
			.single.category
				h3.side-title Blog Categories
				if categories
					if categories.length > 0
						ul.list-unstyled
							for category in categories
								li
									a(href='javascript:void(0)', title='')!= category.name
										span.pull-right 13

					if categories.length == 0
						p No categories

		.popular-posts
			h4 Popular Posts
			.blog.clearfix
				.col-xs-4.no_padding
					img.img-responsive(src='/public/img/im-502226434.jpg')
				.col-xs-8
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit.
			.blog.clearfix
				.col-xs-4.no_padding
					img.img-responsive(src='/public/img/im-502226434.jpg')
				.col-xs-8
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit.
