nav.navbar.navbar-default
  .container-fluid.clearfix
    .navbar-header
      a.navbar-brand(href='#') WebSiteName
    if (title != 'Login' && title != 'Register' )
      ul.nav.navbar-nav
        li.active
          a(href='#') Home
        li
          a(href='/about') About
        li
          a(href='#') Contact
        li
          a(href='#') Support
      form.pull-right(method='POST', action='/sign-out')
        input.btn.btn-primary(type='submit', value='Sign out')
